@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #0b3d2e;
}

.logo {
  width: 200px;
  height: 160px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.options {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childone,
.childtwo {
  margin-bottom: 10px;
  width: 35px;
  height: 3.5px;
  background-color: #fff;
  color: #fff;
}

.childtwo {
  margin-bottom: 0;
  margin-left: 7px;
  width: 28px;
}

.menu {
  cursor: pointer;
}

.menupopup {
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 320px;
  position: fixed;
  right: 4%;
  top: 8%;
  background-color: #0e4a38;
  border-bottom-left-radius: 35px;
  opacity: 0;
}

.close {
  display: flex;
  justify-content: flex-end;
  height: 30%;
  width: 100%;
}

.iconclose {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconclose .barx {
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
}

.iconclose .barx:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.iconclose .barx:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.about,
.projects,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.span a {
  color: #fff;
  margin-bottom: 2px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.bar {
  display: none;
  background-color: #fff;
  width: 50%;
  height: 3px;
  border-radius: 3px;
}

.about:hover .bar,
.projects:hover .bar,
.contact:hover .bar {
  display: flex;
}

/*Mobile*/
@media (max-width: 639px) {
  .logo {
    width: 150px;
    height: 110px;
    transform: translateX(-25px);
  }
}
