@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid #0b0b0b53;
  background-color: #0b3d2e;
}

.options {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about,
.projects,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.span {
  color: antiquewhite;
  margin-bottom: 2px;
  font-family: "Poppins", sans-serif;
}

.bar {
  display: none;
  background-color: #ffffffda;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}

.about:hover .bar,
.projects:hover .bar,
.contact:hover .bar {
  display: flex;
}
